.wrapper{
    width: 1000px;
    margin: auto;
    margin-bottom: 70px;
    position: relative;
}

.full_wrapper{
    margin-top:50px;
}

.pic_container{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#photos{
    width: 100%;
    text-align: left;
}

h1 {
    color: #128fdc;
    margin-top: 100px;
}

.random{
    position: absolute;
    top: 20px;
    right: 0;
    text-decoration: none;
}

#imgRand {
    width:25px;
    position: absolute;
}

.random span{
    margin-left:25px;
}