/serveur-java/voicela/nbproject/
/serveur-java/voicela/build/
/client-web/nbproject/
/serveur-java/voicela/dist/
serveur-java/voicela/dist/voicela.jar

serveur-java/voicela/nbproject/private/private.xml
