html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    border: 0;
}

h1{
    padding: 0;
    margin: 0;
}

a:visited{
    color: inherit;
}

.general_header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 1);
    color: black;
    z-index: 100;
    font-size: 17px;
    border-bottom: 1px solid #cfd2d3;
}

#header_container{
  width: 1190px;
  height: 50px;
  margin: 0;
  padding: 0;
  margin: auto;
  border: 0;
  position: relative;
}

#header_container ul{
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  border: 0;
  width: auto;
  cursor: pointer;
}

#header_container ul li{
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  border: 0;
  font-size: 14px;
  color: #66757f;
  margin: 0;
  padding: 0;
  font-family: Arial;
  padding-right: 20px;
  padding-left: 20px;
}

#header_container ul li a{
  margin: 0;
  padding: 0;
  display: block;
  height: 50px;
  width: 100%;
  line-height: 50px;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

#header_container ul li a:hover{
    color: #0084b4;
}

#general_search_form{
  display: inline-block;
  border: 0;
  border-radius: 21px;
  height: 32px;
  line-height: 32px;
  width: 236px;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #a3acb2;
  color: white;
  position: absolute;
  top: 9px;
  right: 0;
}

#q::-webkit-input-placeholder {
    color: white;
}

#q:-moz-placeholder {
    color: white;
}

#q{
  padding-left: 20px;
  width: 185px;
  height: 100%;
  border: 0;
  color: white;
  background-color: #a3acb2;
  border: 0;
  border-radius: 21px;
}

#general_search_submit{
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 0;
  background-color: #a3acb2;
  background-image: url(../images/general/search_background.png);
  background-repeat: no-repeat;
  background-position: center center;
}

*{
    box-sizing: border-box;
    font-family: Open Sans, Verdana, Arial;
    outline: none;
}

/* FONTS */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}