.full_wrapper{
    margin-top: 50px;
    padding-top: 30px;
}

.second_wrapper{
    padding-top: 0!important;
    position: relative;
    width: 1190px!important;
}

.bandeau1{
    width: 100%;
    height: 290px;
    padding-bottom: 30px;
    border-bottom: 1px solid silver;
    background: white;
}

.container{
    width: 1190px;
    margin: auto;
    position: relative;
}

#profile_pic{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border-radius: 7px;
    background-size: cover;
    background-position: center center;
}

#bio{
    height: 250px;
    padding: 20px;
    width: 930px;
    position: absolute;
    top: 0;
    right: 0;
}

#bio h3{
    margin: 0;
    padding: 0;
    color: #128fdc;
    font-size: 19px;
}

#bio p{
    font-size: 14px;
}

#bio a{
    color: #128fdc;
    text-decoration: none;
}

#bio a:hover{
    text-decoration: underline;
}

/* Design bandeau 2 (images) */

.bandeau_2{
    width: 100%;
    padding-top: 30px;
    min-height: 100px;
    background-color: #188dc7;
}

.list{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 7px;
    background: white;
}

#images_list img{
    max-width: 90%;
    margin-bottom: 35px;
}

.bandeau_2 h2{
    font-size: 22px;
    font-weight: normal;
    text-align: left;
    color: grey;
    padding-left: 20px;
}

.add_the_x{
    font-size: 14px;
    text-align: left;
    display: block;
    width: 100%;
    color: #188dc7;
    font-weight: bold;
    padding-left: 5%;
    margin-bottom: 5px;
}

#switch{
    width: 700px;
    border: 2px solid white;
    height: 40px;
    color: white;
    background: transparent;
    margin-bottom: 20px;
    font-size: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-left: 245px;
}

#switch:hover{
    background-color: white;
    color: #188dc7;
}