.full_wrapper{
    margin-top: 50px;
}

.second_wrapper{
    padding-top: 0!important;
    border: 1px solid red;
    position: relative;
    width: 1190px!important;
}

.bandeau1{
    width: 100%;
    height: 300px;
    background: silver;
}

.container{
    width: 1190px;
    margin: auto;
    position: relative;
}